<!DOCTYPE html>
<html>
<head>
    <title>Meus Ingressos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h2>Meus Ingressos</h2>
        <a href="/ingressos">Comprar Ingressos</a>
    </header>
    <ul>
        {{#ingressos}}
            <li>
                {{nome}} - R$ {{preco}}
                <a href="/ingresso/{{id}}">Detalhes</a>
            </li>
        {{/ingressos}}
    </ul>
</body>
</html>